---
layout: default
---


<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>David6garcia by david6garcia</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>David6garcia</h1>
        <h2>Implantación de Aplicaciones Web</h2>
        <a href="https://github.com/david6garcia" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h2>
<a id="datos-personales" class="anchor" href="#datos-personales" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><strong>Datos Personales</strong>
</h2>

<ul>
<li>
<strong>Nombre:</strong> Pepito</li>
<li>
<strong>Apellidos:</strong> Grillo</li>
<li>
<strong>Fecha de Nacimiento:</strong> 19/09/1113</li>
<li>
<strong>Domicilio:</strong>C/El Paraíso nº69</li>
<li>
<strong>Teléfono:</strong> 678912345</li>
</ul>

<h2>
<a id="formación-técnica" class="anchor" href="#formaci%C3%B3n-t%C3%A9cnica" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><strong>Formación Técnica</strong>
</h2>

<ul>
<li>Administrador de Sistemas Informáticos en Red  <strong>Nivel:</strong> Experto</li>
<li>Desarrollo de Aplicaciones Web <strong>Nivel:</strong>  Medio</li>
<li>Desarrollo de Aplicaciones Multiplataforma <strong>Nivel:</strong> Medio</li>
</ul>

<h2>
<a id="experiencia-laboral" class="anchor" href="#experiencia-laboral" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><strong>Experiencia Laboral</strong>
</h2>

<ul>
<li>56 años en Apple España</li>
<li>68 años en Microsoft España</li>
</ul>

<h2>
<a id="idiomas" class="anchor" href="#idiomas" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><strong>Idiomas</strong>
</h2>

<ul>
<li>Inglés   <strong>Nivel:</strong>  C1</li>
<li>Alemán   <strong>Nivel:</strong> B2</li>
<li>Francés   <strong>Nivel:</strong> B1</li>
</ul>

<h2>
<a id="cursos" class="anchor" href="#cursos" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><strong>Cursos</strong>
</h2>

<ul>
<li>Programación en Java</li>
<li>Programación en Ruby</li>
</ul>

<h2>
<a id="información-adicional" class="anchor" href="#informaci%C3%B3n-adicional" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><strong>Información adicional</strong>
</h2>

<h3>
<a id="interes-personales" class="anchor" href="#interes-personales" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Interes personales</h3>

<ul>
<li>Mejorar mis dotes de programador</li>
<li>Contribuir a la creación de un Software
### Interes laborales</li>
<li>Ocupar un alto cargo dentro de la empresa.
### Valores personales</li>
</ul>

<h3>
<a id="permiso-de-conducir-b-y-disponibilidad-de-vehículo-propio" class="anchor" href="#permiso-de-conducir-b-y-disponibilidad-de-veh%C3%ADculo-propio" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Permiso de conducir B y disponibilidad de vehículo propio</h3>
        </section>

        
      </div>
    </div>

  
  </body>
</html>
