---
layout: default
---

<!DOCTYPE html>
<html>
<head>
       <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/images/index.jpeg">
    <!-- <link rel="apple-touch-icon" href="static/img/me-icon-57.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="static/img/me-icon-72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="static/img/me-icon-114.png"> -->
   <title>David6garcia</title>
</head> 

<body>
<div>
<h1>{{page.title}}</h1>
</div>
<!-- Fin de la cabecera de la página web -->

<br />

<!-- Contenedor para la parte central -->
<div>

<!-- menu -->
<div>
       <div><h2>Menú</h2></div>
<hr/>
<ul>
<li><h3 href="https://david6garcia.github.io/">Página principal</h3></li>
<li> <h3 href="https://david6garcia.github.io/curriculum">Currículum</h3> </li>
<li> <h3 href="https://david6garcia.github.io/pruebas">Pruebas</h3> </li>
</ul>
</div>
</div>
<br />
<div>
<div class="container">
{{ content }}
</div>
</div>
</body>
</html>
